body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
*{
    border: 1px solid;
}
.container{
    display: flex;
}
.left{
    width: 20%;;
}
.right{
    width: 80%;
}
.container .right .stock{
    display: flex;
    padding:20px;
}
.container .right .stock div{
        width: 25%;
        height: 100px;
        line-height: 100px;
        text-align: center;
        margin: 0px 20px;
}
.container .left, .container .right{
    padding:20px;
}
.table{
    width: 100%;
}
.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 5px;
}

.table tr:nth-child(even){
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #40407a;
    color: white;
}
.table th.action{
    text-align: center;
}
.action{
    text-align: center;
}
.action a{
    margin: 0px 5px;
}



